@import "../styles/scss/variables";
@import "../styles/scss/breakpoints";
@import "../styles/scss/mixins";

section {
  width: 100%;
  max-width: 760px;
  height: auto;
  background: $white;
  margin: 0 auto;
  padding: 0 24px 24px;

  .section-title {
    height: auto;
    padding: 24px 0;
    border-bottom: 1px solid $dividers-bg-bg-menu;
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    gap: 24px;

    @include media-breakpoint-up(sm) {
      height: 62px;
      flex-direction: row;
      justify-content: space-between;
      padding: 0;
      align-items: center;
    }

    .section-title-description {
      color: $primary-main-titles;
      font-weight: map-get($font-weight, bold);
      letter-spacing: 0.26px;

      span {
        font-size: 12px;
        margin-left: 8px;
        font-weight: map-get($font-weight, normal);

        @include media-breakpoint-up(sm) {
          font-size: 14px;
        }
      }
    }
  }

  .contract-type {
    margin-top: 24px;
    margin-bottom: 34px;
    font-size: 14px;

    .contract-type-title {
      color: $secondary-text-icons;
      font-weight: map-get($font-weight, bold);
      letter-spacing: 0.22px;
      margin-bottom: 16px;
      display: flex;
      align-items: center;

      svg {
        margin-left: 8px;
      }

      .tooltip-explanation-buy-rate {
        @include tooltip();
      }
    }

    .contract-type-buttons {
      width: 100%;
      display: grid;
      grid-template-rows: repeat(1, minmax(0, 1fr));
      grid-template-columns: repeat(1, minmax(0, 2fr));
      gap: 24px;

      @include media-breakpoint-up(sm) {
        grid-template-rows: repeat(1, minmax(0, 1fr));
        grid-template-columns: repeat(2, minmax(0, 2fr));
      }
    }
  }

  .aplied-contracts {
    font-size: 14px;
    border-bottom: 1px solid $dividers-bg-bg-menu;
    letter-spacing: 0.22px;

    .aplied-contracts-title {
      padding-bottom: 16px;

      span {
        color: $secondary-text-icons;
        font-weight: map-get($font-weight, bold);
      }
    }

    .border-bottom {
      border-bottom: 1px solid $dividers-bg-bg-menu;
    }

    .aplied-contracts-list {
      padding: 16px 0;
      min-height: 103px;

      span {
        color: $secondary-text-icons;
        font-weight: map-get($font-weight, normal);
      }

      &.aplied-contracts-list--empty {
        padding: 0 0 16px;
        min-height: 190px;
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;

    .default-button,
    .borded-button,
    .bg-button {
      width: 100%;
      @include flexCenter();

      @include media-breakpoint-up(sm) {
        width: auto;
        @include flexCenter();
      }
    }

    .default-button {
      margin-top: 24px;

      @include media-breakpoint-up(sm) {
        margin-top: 0;
      }
    }

    @include media-breakpoint-up(sm) {
      flex-direction: row;
    }

    div {
      display: flex;
      width: 100%;
      flex-direction: column;
      gap: 24px;

      @include media-breakpoint-up(sm) {
        width: auto;
        flex-direction: row;
      }
    }
  }
}
