/* Colors: */
/* Colors: */
section {
  width: 100%;
  max-width: 760px;
  height: auto;
  background: #ffffff;
  margin: 0 auto;
  padding: 0 24px 24px;
}

section .section-title {
  height: auto;
  padding: 24px 0;
  border-bottom: 1px solid #efefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

@media (min-width: 576px) {
  section .section-title {
    height: 62px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

section .section-title .section-title-description {
  color: #4c4c4c;
  font-weight: 700;
  letter-spacing: 0.26px;
}

section .section-title .section-title-description span {
  font-size: 12px;
  margin-left: 8px;
  font-weight: 400;
}

@media (min-width: 576px) {
  section .section-title .section-title-description span {
    font-size: 14px;
  }
}

section .contract-type {
  margin-top: 24px;
  margin-bottom: 34px;
  font-size: 14px;
}

section .contract-type .contract-type-title {
  color: #828282;
  font-weight: 700;
  letter-spacing: 0.22px;
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .contract-type .contract-type-title svg {
  margin-left: 8px;
}

section .contract-type .contract-type-title .tooltip-explanation-buy-rate {
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: start;
  background: white;
  border-radius: 4px;
  color: #828282;
  font-weight: 400;
  -webkit-box-shadow: 0px 0px 10px -5px black;
          box-shadow: 0px 0px 10px -5px black;
}

section .contract-type .contract-type-buttons {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (minmax(0, 1fr))[1];
      grid-template-rows: repeat(1, minmax(0, 1fr));
  -ms-grid-columns: (minmax(0, 2fr))[1];
      grid-template-columns: repeat(1, minmax(0, 2fr));
  gap: 24px;
}

@media (min-width: 576px) {
  section .contract-type .contract-type-buttons {
    -ms-grid-rows: (minmax(0, 1fr))[1];
        grid-template-rows: repeat(1, minmax(0, 1fr));
    -ms-grid-columns: (minmax(0, 2fr))[2];
        grid-template-columns: repeat(2, minmax(0, 2fr));
  }
}

section .aplied-contracts {
  font-size: 14px;
  border-bottom: 1px solid #efefef;
  letter-spacing: 0.22px;
}

section .aplied-contracts .aplied-contracts-title {
  padding-bottom: 16px;
}

section .aplied-contracts .aplied-contracts-title span {
  color: #828282;
  font-weight: 700;
}

section .aplied-contracts .border-bottom {
  border-bottom: 1px solid #efefef;
}

section .aplied-contracts .aplied-contracts-list {
  padding: 16px 0;
  min-height: 103px;
}

section .aplied-contracts .aplied-contracts-list span {
  color: #828282;
  font-weight: 400;
}

section .aplied-contracts .aplied-contracts-list.aplied-contracts-list--empty {
  padding: 0 0 16px;
  min-height: 190px;
}

section .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 24px;
}

section .footer .default-button,
section .footer .borded-button,
section .footer .bg-button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 576px) {
  section .footer .default-button,
  section .footer .borded-button,
  section .footer .bg-button {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

section .footer .default-button {
  margin-top: 24px;
}

@media (min-width: 576px) {
  section .footer .default-button {
    margin-top: 0;
  }
}

@media (min-width: 576px) {
  section .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

section .footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

@media (min-width: 576px) {
  section .footer div {
    width: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=styles.css.map */