/* Colors: */
/* Colors: */
.select-input {
  width: 100%;
  max-width: none;
  position: relative;
  margin-top: 16px;
}

@media (min-width: 576px) {
  .select-input {
    width: 100%;
    max-width: 384px;
    margin-top: 0;
  }
}

.select-input label {
  font-weight: 700;
  color: #828282;
  font-size: 14px;
  letter-spacing: 0.22px;
}

.select-input .select {
  margin-top: 8px;
}

.select-input .dropdown {
  position: absolute;
  left: 0px;
  background: #ffffff;
  height: 250px;
  top: 72px;
  width: 100%;
  border: 1px solid #cccccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
  z-index: 9999999;
  -webkit-animation: softAppear 0.2s;
          animation: softAppear 0.2s;
}

.select-input .dropdown .dropdown-content {
  width: 100%;
  padding: 16px;
  background: #ffffff;
  position: relative;
}

.select-input .dropdown .dropdown-content .title {
  color: #777777;
  font-weight: 700;
  letter-spacing: 0.22px;
  font-size: 14px;
  margin-bottom: 4px;
}

.select-input .dropdown .dropdown-content .search-icon {
  position: absolute;
  right: 28px;
  top: 67px;
  color: #828282;
}

@-webkit-keyframes softAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes softAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=styles.css.map */