@import "../../styles/scss/variables";
@import "../../styles/scss/mixins";
@import "../../styles/scss/breakpoints";

.select-input {
  width: 100%;
  max-width: none;
  position: relative;
  margin-top: 16px;

  @include media-breakpoint-up(sm) {
    width: 100%;
    max-width: 384px;
    margin-top: 0;
  }

  label {
    font-weight: map-get($font-weight, bold);
    color: $secondary-text-icons;
    font-size: 14px;
    letter-spacing: 0.22px;
  }

  .select {
    margin-top: 8px;
  }

  .dropdown {
    position: absolute;
    left: 0px;
    background: $white;
    height: 250px;
    top: 72px;
    width: 100%;
    border: 1px solid $placeholders-inactive;
    display: flex;
    border-radius: 4px;
    z-index: 9999999;
    animation: softAppear 0.2s;

    .dropdown-content {
      width: 100%;
      padding: 16px;
      background: $white;
      position: relative;

      .title {
        color: #777777;
        font-weight: map-get($font-weight, bold);
        letter-spacing: 0.22px;
        font-size: 14px;
        margin-bottom: 4px;
      }

      .search-icon {
        position: absolute;
        right: 28px;
        top: 67px;
        color: $secondary-text-icons;
      }
    }

    @keyframes softAppear {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
  }
}
