/* Colors: */
/* Colors: */
.add-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  margin-top: 10px;
}

.add-field div:first-child {
  min-width: 24px;
  height: 24px;
  border-left: 4px solid #dedede;
  border-bottom: 4px solid #dedede;
}

.add-field span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 16px 0 16px 8px;
  color: #828282;
  font-weight: 700;
  letter-spacing: 0.22px;
  font-size: 14px;
}

.add-field div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-field div:last-child svg {
  min-width: 20px;
  min-height: 20px;
  color: #828282;
  margin: 0 10px;
  cursor: pointer;
}

.add-field div:last-child svg:hover {
  color: #dfa300;
}

.add-field div:last-child p {
  margin: 16px 0;
  white-space: normal;
  font-size: 12px;
  color: #4c4c4c;
  font-weight: 400;
  letter-spacing: 0.19px;
}

@media (min-width: 576px) {
  .add-field div:last-child p {
    white-space: nowrap;
  }
}
/*# sourceMappingURL=styles.css.map */