@import "../../styles/scss/variables";
@import "../../styles/scss/mixins";
@import "../../styles/scss/breakpoints";

.add-field {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 10px;

  div:first-child {
    min-width: 24px;
    height: 24px;
    border-left: 4px solid #dedede;
    border-bottom: 4px solid #dedede;
  }

  span {
    display: flex;
    align-items: center;
    margin: 16px 0 16px 8px;
    color: $secondary-text-icons;
    font-weight: map-get($font-weight, bold);
    letter-spacing: 0.22px;
    font-size: 14px;
  }

  div:last-child {
    display: flex;
    align-items: center;

    svg {
      min-width: 20px;
      min-height: 20px;
      color: $secondary-text-icons;
      margin: 0 10px;
      cursor: pointer;
    }

    svg:hover {
      color: #dfa300;
    }

    p {
      margin: 16px 0;
      white-space: normal;
      font-size: 12px;
      color: $primary-main-titles;
      font-weight: map-get($font-weight, normal);
      letter-spacing: 0.19px;

      @include media-breakpoint-up(sm) {
        white-space: nowrap;
      }
    }
  }
}
