/* Colors: */
.disabled {
  color: #adadad;
  font-weight: 700;
  background: #efefef;
  padding: 10px 16px;
  font-size: 16px;
  letter-spacing: 0.26px;
  border-radius: 4px;
  border: none;
  cursor: default;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 576px) {
  .disabled {
    width: auto;
  }
}

.default-button {
  color: #4c4c4c;
  font-weight: 700;
  background: #ffffff;
  padding: 10px 16px;
  border: none;
  font-size: 16px;
  letter-spacing: 0.26px;
  border-radius: 4px;
  width: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 576px) {
  .default-button {
    width: auto;
  }
}

.default-button svg {
  display: none;
}

.default-button:hover {
  -webkit-box-shadow: 0px 2px 2px #00000033;
          box-shadow: 0px 2px 2px #00000033;
  background: #fef9e2;
}

.default-button.red-hover:hover {
  -webkit-box-shadow: 0px 2px 2px #00000033;
          box-shadow: 0px 2px 2px #00000033;
  background: #d45858;
  color: #ffffff;
}

.dashed-button {
  color: #828282;
  font-weight: 700;
  background: #ffffff;
  padding: 24px 0;
  width: 100%;
  border: 2px dashed #ffd95a;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashed-button svg {
  margin-left: 12px;
}

.dashed-button:hover {
  background: #fef9e2;
}

.dashed-button .icon {
  background: red;
}

.dashed-button .tooltip {
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: start;
  background: white;
  border-radius: 4px;
  color: #828282;
  font-weight: 400;
  -webkit-box-shadow: 0px 0px 10px -5px black;
          box-shadow: 0px 0px 10px -5px black;
}

.borded-button {
  color: #4c4c4c;
  font-weight: 700;
  background: #ffffff;
  padding: 10px 16px;
  font-size: 16px;
  letter-spacing: 0.26px;
  border: 2px solid #ffd95a;
  -webkit-box-shadow: 0px 2px 2px #00000033;
          box-shadow: 0px 2px 2px #00000033;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.borded-button svg {
  display: none;
}

.borded-button:hover {
  background: #fef9e2;
}

.bg-button {
  color: #4c4c4c;
  font-weight: 700;
  background: #ffd95a;
  padding: 10px 16px;
  font-size: 16px;
  letter-spacing: 0.26px;
  border: 2px solid #ffd95a;
  -webkit-box-shadow: 0px 2px 2px #00000033;
          box-shadow: 0px 2px 2px #00000033;
  border-radius: 4px;
  width: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 576px) {
  .bg-button {
    width: auto;
  }
}

.bg-button svg {
  display: none;
}

.bg-button:hover {
  background: #ffca37;
}
/*# sourceMappingURL=styles.css.map */