@import "../../styles/scss/mixins";

.disabled {
  @include button-disabled();
}

.default-button {
  @include default-button();
}

.dashed-button {
  @include dashed-button-yellow();

  .tooltip {
    @include tooltip();
  }
}

.borded-button {
  @include borded-button-yellow();
}

.bg-button {
  @include bg-button-yellow();
}
