@import "../../styles/scss/variables";
@import "../../styles/scss/mixins";
@import "../../styles/scss/breakpoints";

.modal {
  position: absolute;
  top: 40px;
  width: 90%;
  outline: none;
  border: none;
  border-radius: 4px;
  min-height: 540px;
  background-color: $white;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include media-breakpoint-up(sm) {
    right: 40px;
    min-height: 466px;
    left: auto;
    max-width: 440px;
  }

  .modal-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      color: $primary-main-titles;
      font-weight: map-get($font-weight, bold);
      letter-spacing: 0.26px;
      font-size: 16px;
    }

    img {
      cursor: pointer;
    }
  }

  .modal-select {
    padding: 32px 24px;
  }

  .modal-foooter {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    gap: 24px;
    padding: 0 24px;

    @include media-breakpoint-up(sm) {
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
    }
  }
}

.overlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000b3;
}
