/* Colors: */
/* Colors: */
.modal {
  position: absolute;
  top: 40px;
  width: 90%;
  outline: none;
  border: none;
  border-radius: 4px;
  min-height: 540px;
  background-color: #ffffff;
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 576px) {
  .modal {
    right: 40px;
    min-height: 466px;
    left: auto;
    max-width: 440px;
  }
}

.modal .modal-title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal .modal-title span {
  color: #4c4c4c;
  font-weight: 700;
  letter-spacing: 0.26px;
  font-size: 16px;
}

.modal .modal-title img {
  cursor: pointer;
}

.modal .modal-select {
  padding: 32px 24px;
}

.modal .modal-foooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  gap: 24px;
  padding: 0 24px;
}

@media (min-width: 576px) {
  .modal .modal-foooter {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.overlay {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000b3;
}
/*# sourceMappingURL=styles.css.map */