/* Colors: */
/* Colors: */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  text-align: right;
}

.input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: none;
}

@media (min-width: 576px) {
  .input-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 144px;
  }
}

.input-container label {
  color: #828282;
  font-weight: 700;
  letter-spacing: 0.22px;
  font-size: 14px;
  margin-bottom: 8px;
  white-space: nowrap;
}

.input-container .input-group {
  position: relative;
  padding: 0 10px 0 0;
}

.input-container .input-group .percentage-box,
.input-container .input-group .dollar-sign-box {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 32px;
  height: 32px;
  background: #efefef;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-container .input-group input {
  width: 100%;
  height: 38px;
  max-width: none;
  border: 1px solid #adadad;
  padding: 0 10px 0 0;
  border-radius: 4px;
}

@media (min-width: 576px) {
  .input-container .input-group input {
    width: 100%;
    height: 38px;
    max-width: 132px;
    border: 1px solid #adadad;
    padding: 0 10px 0 0;
    border-radius: 4px;
  }
}
/*# sourceMappingURL=styles.css.map */