@import "../../styles/scss/variables";
@import "../../styles/scss/mixins";
@import "../../styles/scss/breakpoints";

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  text-align: right;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: none;

  @include media-breakpoint-up(sm) {
    display: flex;
    flex-direction: column;
    max-width: 144px;
  }

  label {
    color: $secondary-text-icons;
    font-weight: map-get($font-weight, bold);
    letter-spacing: 0.22px;
    font-size: 14px;
    margin-bottom: 8px;
    white-space: nowrap;
  }

  .input-group {
    position: relative;
    padding: 0 10px 0 0;

    .percentage-box,
    .dollar-sign-box {
      position: absolute;
      top: 4px;
      left: 4px;
      width: 32px;
      height: 32px;
      background: $dividers-bg-bg-menu;
      border-radius: 4px;
      @include flexCenter();
    }

    input {
      width: 100%;
      height: 38px;
      max-width: none;
      border: 1px solid $tertiary-field-borders;
      padding: 0 10px 0 0;
      border-radius: 4px;

      @include media-breakpoint-up(sm) {
        width: 100%;
        height: 38px;
        max-width: 132px;
        border: 1px solid $tertiary-field-borders;
        padding: 0 10px 0 0;
        border-radius: 4px;
      }
    }
  }
}
