@charset "UTF-8";
/* Colors: */
/* Colors: */
.contract-type-container .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 24px 0;
  border-bottom: none;
}

@media (min-width: 576px) {
  .contract-type-container .title {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.contract-type-container .title img {
  margin-right: 16px;
  margin-bottom: 4px;
  height: 24px;
  width: 24px;
}

.contract-type-container .title p {
  color: #4c4c4c;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.22px;
  margin: 0;
}

.contract-type-container .title:hover {
  background: #ffffff;
}

.contract-type-container .contract-type-content {
  min-height: 302px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #efefef;
}

.contract-type-container .contract-type-content .contract-type-content-before {
  position: relative;
}

.contract-type-container .contract-type-content .contract-type-content-before::before {
  content: "";
  left: 3px;
  position: absolute;
  width: 4px;
  top: 15px;
  height: 100%;
  background: #dedede;
}

.contract-type-container .contract-type-content .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 16px;
}

.contract-type-container .contract-type-content .title .marker {
  width: 10px;
  height: 10px;
  background: #dedede;
  border-radius: 100%;
  margin-right: 12px;
}

.contract-type-container .contract-type-content .title span {
  font-size: 16px;
  color: #4c4c4c;
  font-weight: 700;
  letter-spacing: 0;
}

.contract-type-container .contract-type-content .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 16px 0 24px;
  white-space: nowrap;
}

@media (min-width: 576px) {
  .contract-type-container .contract-type-content .form-group.form-group--profit-split {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 576px) {
  .contract-type-container .contract-type-content .form-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contract-type-container .contract-type-content .checkox-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 24px 0;
}

.contract-type-container .contract-type-content .checkox-container input {
  width: 16px;
  height: 16px;
  outline: 2px solid #ffda00;
  border-radius: 4px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-right: 8px;
  background: #ffffff;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.contract-type-container .contract-type-content .checkox-container input:checked:after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  content: "✔";
  color: #dfa300;
}

.contract-type-container .contract-type-content .checkox-container span {
  font-size: 14px;
  color: #828282;
  font-weight: 400;
  letter-spacing: 0.22px;
}
/*# sourceMappingURL=styles.css.map */