@import "../../styles/scss/variables";
@import "../../styles/scss/breakpoints";
@import "../../styles/scss/mixins";

.contract-type-container {
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 0;
    border-bottom: none;

    @include media-breakpoint-up(sm) {
      align-items: flex-end;
    }

    img {
      margin-right: 16px;
      margin-bottom: 4px;
      height: 24px;
      width: 24px;
    }

    p {
      color: $primary-main-titles;
      font-weight: map-get($font-weight, normal);
      font-size: 14px;
      letter-spacing: 0.22px;
      margin: 0;
    }

    &:hover {
      background: $white;
    }
  }

  .contract-type-content {
    min-height: 302px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid $dividers-bg-bg-menu;

    .contract-type-content-before {
      position: relative;
    }

    .contract-type-content-before::before {
      content: "";
      left: 3px;
      position: absolute;
      width: 4px;
      top: 15px;
      height: 100%;
      background: #dedede;
    }

    .title {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0 0 16px;

      .marker {
        width: 10px;
        height: 10px;
        background: #dedede;
        border-radius: 100%;
        margin-right: 12px;
      }

      span {
        font-size: 16px;
        color: $primary-main-titles;
        font-weight: map-get($font-weight, bold);
        letter-spacing: 0;
      }
    }

    .form-group {
      display: flex;
      flex-direction: column;
      padding: 0 16px 0 24px;
      white-space: nowrap;

      &.form-group--profit-split {
        @include media-breakpoint-up(sm) {
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
        }
      }

      @include media-breakpoint-up(sm) {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }
    }

    .checkox-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin: 24px 0;

      input {
        width: 16px;
        height: 16px;
        outline: 2px solid #ffda00;
        border-radius: 4px;
        border: none;
        box-shadow: none;
        margin-right: 8px;
        background: $white;
        -moz-appearance: none;
        -webkit-appearance: none;

        &:checked:after {
          display: flex;
          justify-content: center;
          align-items: center;
          content: "✔";
          color: #dfa300;
        }
      }

      span {
        font-size: 14px;
        color: $secondary-text-icons;
        font-weight: map-get($font-weight, normal);
        letter-spacing: 0.22px;
      }
    }
  }
}
