@import "../../styles/scss/variables";

.aplied-smart-contract-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 8px;
  border-top: 1px solid $dividers-bg-bg-menu;

  &:hover {
    background: $white-hover;

    div {
      display: flex;
    }
  }

  div {
    img {
      height: 16px;
      margin-right: 8px;
      cursor: pointer;
    }

    svg {
      cursor: pointer;
    }
  }

  div {
    display: flex;
  }
}
