/* Colors: */
.aplied-smart-contract-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 14px 8px;
  border-top: 1px solid #efefef;
}

.aplied-smart-contract-container:hover {
  background: #fef9e2;
}

.aplied-smart-contract-container:hover div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aplied-smart-contract-container div img {
  height: 16px;
  margin-right: 8px;
  cursor: pointer;
}

.aplied-smart-contract-container div svg {
  cursor: pointer;
}

.aplied-smart-contract-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=styles.css.map */