@import "./variables";
@import "./breakpoints";

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin default-button {
  color: $primary-main-titles;
  font-weight: map-get($font-weight, bold);
  background: $white;
  padding: 10px 16px;
  border: none;
  font-size: 16px;
  letter-spacing: 0.26px;
  border-radius: 4px;
  width: 100%;
  transition: all 0.2s ease-in-out;
  @include flexCenter();

  @include media-breakpoint-up(sm) {
    width: auto;
  }

  svg {
    display: none;
  }

  &:hover {
    box-shadow: 0px 2px 2px #00000033;
    background: $white-hover;
  }

  &.red-hover:hover {
    box-shadow: 0px 2px 2px #00000033;
    background: #d45858;
    color: $white;
  }
}

@mixin dashed-button-yellow {
  color: $secondary-text-icons;
  font-weight: map-get($font-weight, bold);
  background: $white;
  padding: 24px 0;
  width: 100%;
  border: 2px dashed $primary-yellow;
  transition: all 0.2s ease-in-out;
  @include flexCenter();

  svg {
    margin-left: 12px;
  }

  &:hover {
    background: $white-hover;
  }

  .icon {
    background: red;
  }
}

@mixin borded-button-yellow {
  color: $primary-main-titles;
  font-weight: map-get($font-weight, bold);
  background: $white;
  padding: 10px 16px;
  font-size: 16px;
  letter-spacing: 0.26px;
  border: 2px solid $primary-yellow;
  box-shadow: 0px 2px 2px #00000033;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  @include flexCenter();

  svg {
    display: none;
  }

  &:hover {
    background: $white-hover;
  }
}

@mixin bg-button-yellow {
  color: $primary-main-titles;
  font-weight: map-get($font-weight, bold);
  background: $primary-yellow;
  padding: 10px 16px;
  font-size: 16px;
  letter-spacing: 0.26px;
  border: 2px solid $primary-yellow;
  box-shadow: 0px 2px 2px #00000033;
  border-radius: 4px;
  width: 100%;
  transition: all 0.2s ease-in-out;
  @include flexCenter();

  @include media-breakpoint-up(sm) {
    width: auto;
  }

  svg {
    display: none;
  }

  &:hover {
    background: $primary-hover;
  }
}

@mixin button-disabled {
  color: $tertiary-field-borders;
  font-weight: map-get($font-weight, bold);
  background: $dividers-bg-bg-menu;
  padding: 10px 16px;
  font-size: 16px;
  letter-spacing: 0.26px;
  border-radius: 4px;
  border: none;
  cursor: default;
  width: 100%;
  @include flexCenter();

  @include media-breakpoint-up(sm) {
    width: auto;
  }
}

@mixin tooltip {
  width: 140px;
  display: flex;
  align-items: center;
  text-align: start;
  background: white;
  border-radius: 4px;
  color: $secondary-text-icons;
  font-weight: map-get($font-weight, normal);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 1);
}
