@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
/* Colors: */
body {
  margin: 0;
  font-family: "Open Sans", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f6f6f6;
  position: relative;
}

body ::-webkit-scrollbar {
  width: 2px;
  height: 40px;
  color: red;
}

body ::-webkit-scrollbar-track-piece {
  background: #efefef;
}

body ::-webkit-scrollbar-thumb {
  background: #adadad;
  height: 40px;
}

button {
  cursor: pointer;
  outline: none;
}

input {
  padding: 0;
  border: none;
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
/*# sourceMappingURL=index.css.map */