/* Colors: */
.form-group-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 576px) {
  .form-group-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.form-group-select {
  width: 100%;
  max-width: none;
  margin-right: 0;
  position: relative;
}

@media (min-width: 576px) {
  .form-group-select {
    width: 100%;
    max-width: 384px;
    margin-right: 24px;
  }
  .form-group-select.form-group-select--32 {
    margin-left: 32px;
    max-width: 352px;
  }
  .form-group-select.form-group-select--64 {
    margin-left: 64px;
    max-width: 320px;
  }
}

.form-group-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  position: relative;
}

.form-group-input.form-group-input--last {
  margin: 16px 0 0px;
}

.form-group-input .trash {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: chartreuse;
  position: relative;
  cursor: pointer;
}

.form-group-input .trash svg {
  position: absolute;
  top: 4px;
}

@media (min-width: 576px) {
  .form-group-input {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 24px;
    width: auto;
    margin-top: 4px;
  }
  .form-group-input.form-group-input--last {
    margin: 4px;
  }
  .form-group-input .trash {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: chartreuse;
    position: unset;
  }
  .form-group-input .trash svg {
    position: absolute;
    top: 40px;
  }
}
/*# sourceMappingURL=styles.css.map */