@import "../../styles/scss/variables";
@import "../../styles/scss/breakpoints";

.form-group-content {
  display: flex;
  width: 100%;
  flex-direction: column;

  @include media-breakpoint-up(sm) {
    flex-direction: row;
  }
}

.form-group-select {
  width: 100%;
  max-width: none;
  margin-right: 0;
  position: relative;

  @include media-breakpoint-up(sm) {
    width: 100%;
    max-width: 384px;
    margin-right: 24px;

    &.form-group-select--32 {
      margin-left: 32px;
      max-width: 352px;
    }

    &.form-group-select--64 {
      margin-left: 64px;
      max-width: 320px;
    }
  }
}

.form-group-input {
  display: flex;
  align-items: center;
  gap: 24px;
  flex-direction: row;
  width: 100%;
  position: relative;

  &.form-group-input--last {
    margin: 16px 0 0px;
  }

  .trash {
    display: flex;
    align-items: center;
    justify-content: center;
    background: chartreuse;
    position: relative;
    cursor: pointer;

    svg {
      position: absolute;
      top: 4px;
    }
  }

  @include media-breakpoint-up(sm) {
    flex-direction: row;
    display: flex;
    align-items: flex-start;
    gap: 24px;
    width: auto;
    margin-top: 4px;

    &.form-group-input--last {
      margin: 4px;
    }

    .trash {
      display: flex;
      align-items: center;
      justify-content: center;
      background: chartreuse;
      position: unset;

      svg {
        position: absolute;
        top: 40px;
      }
    }
  }
}
